<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<!--配置别名-->
<typeAliases>
    <!--类型的别名就是类名-->
    <package name="k9501.entity"></package>
</typeAliases>
    <!--com.github.pagehelper为PageHelper类所在包名-->
    <plugins>
        <plugin interceptor="com.github.pagehelper.PageInterceptor">
            <!--加载这个配合，XML里面就不需要判断当前页是否是0-->
            <!--<property name="reasonable"   value="true"/>-->
        </plugin>
    </plugins>
<!--加载sql映射文件-->
<mappers>
    <mapper resource="k9501/mapper/ReplyDetailMapper.xml"></mapper>
    <mapper resource="k9501/mapper/InvitationMapper.xml"></mapper>
</mappers>
</configuration>